
<div class="d-flex flex-column justify-content-center align-items-center vh-100">
  <h1>Hello, <%= current_user.first_name %></h1>
  <p class="mt-3">Use the top navigation to pick a volume or access other tools.</p>
</div>