include:
  - project: "infrastructure-engineering-shared/gitlab-ci-templates"
    file:
      - "lint_docker.yaml"
      - "build_and_scan_docker.yaml"
      - "kubectl_commands.yaml"
      - "sast_scanning.yaml"

variables:
  IMAGE: "tulibraries/isilon-tracker"
  HARBOR: "harbor.k8s.temple.edu"
  HELM_EXPERIMENTAL_OCI: "1"
  SAST_EXCLUDED_PATHS: "app/controllers/volumes_controller.rb, wunderbaum_controller.js, isilon_folders_controller.rb, isilon_assets_controller.rb"

.export_variables: &export_variables
  - source .env
  - export VERSION="${DOCKER_IMAGE_VERSION}-${CI_COMMIT_SHORT_SHA}"

before_script:
  - *export_variables

stages:
  - lint
  - build
  - tag
  - deploy

lint:
  extends: .lint_docker
  variables:
    DF: ".docker/app/Dockerfile"

build:
  stage: build
  extends: .build_and_scan_image
  variables:
    DF: ".docker/app/Dockerfile --build-arg SECRET_KEY_BASE=$SECRET_KEY_BASE --no-cache"
  except:
    - tags

tag:
  stage: tag
  extends: .tag_image

qa_deploy:
  variables:
    IMAGE: $HARBOR/tulibraries/isilon-tracker
    RANCHER: np-rancher
    CLUSTER: $DEV_CLUSTER
  stage: deploy
  extends: .helm_setup
  only:
    - main
  script:
    - *export_variables
    - helm pull oci://$HARBOR/tulibraries/charts/isilon-tracker --untar
    - helm upgrade isilon-tracker oci://$HARBOR/tulibraries/charts/isilon-tracker --history-max=5 --namespace=isilon-tracker-qa --values isilon-tracker/values.yaml --set image.repository=$IMAGE:$VERSION

tag_prod_chart:
  stage: tag
  extends: .tag_image
  # Helm charts live in Harbor as OCI artifacts; add/update a "prod" tag so we
  # can easily find the chart version that is currently deployed in production.
  variables:
    HARBOR_PROJECT: "tulibraries"
    HARBOR_CHART_REPOSITORY: "charts%2Fisilon-tracker"
  only:
    - tags
  script:
    - |
      API_BASE="https://${HARBOR}/api/v2.0/projects/${HARBOR_PROJECT}/repositories/${HARBOR_CHART_REPOSITORY}"
      curl --silent --show-error -u "${HARBOR_USERNAME}:${HARBOR_TOKEN}" \
        -X DELETE "${API_BASE}/artifacts/prod/tags/prod" || echo "prod tag not present yet"
    - |
      curl --silent --show-error --fail \
        -u "${HARBOR_USERNAME}:${HARBOR_TOKEN}" \
        -H "Content-Type: application/json" \
        -d "{\"name\":\"prod\"}" \
        -X POST "${API_BASE}/artifacts/${HELM_VERSION_PROD}/tags"

prod_deploy:
  variables:
    IMAGE: harbor.k8s.temple.edu/tulibraries/isilon-tracker
    RANCHER: prod-rancher
    CLUSTER: $PROD_CLUSTER
  stage: deploy
  extends: .helm_setup
  only:
    - tags
  script:
    - helm pull oci://$HARBOR/tulibraries/charts/isilon-tracker --version $HELM_VERSION_PROD --untar
    - helm upgrade isilon-tracker oci://$HARBOR/tulibraries/charts/isilon-tracker --version $HELM_VERSION_PROD --history-max=5 --namespace=isilon-tracker-prod --values isilon-tracker/values-prod.yaml --set image.repository=$IMAGE:$CI_COMMIT_TAG
