<section class="main-content__body">
  <h1>Isilon File Tree</h1>

  <div
    id="file-tree"
    data-controller="wunderbaum"
    data-wunderbaum-url-value="<%= file_tree_admin_volume_path(@volume) %>"
    style="height: 500px;"
  ></div>
</section>

