<div id="<%= dom_id volume %>">

  <h1>Isilon File Tree</h1>

  <div
    id="tree"
    class="wb-tree isilon-tree"
    data-controller="wunderbaum"
    data-wunderbaum-url-value="<%= file_tree_volume_path(volume.id) %>"
    style="height: 500px;"
  ></div>



</div>
