<% content_for :title, "Editing volume" %>

<h1>Editing volume</h1>

<%= render "form", volume: @volume %>

<br>

<div>
  <%= link_to "Show this volume", @volume %> |
  <%= link_to "Back to volumes", volumes_path %>
</div>
