<p style="color: green"><%= notice %></p>

<% content_for :title, "Volumes" %>

<h1>Volumes</h1>

<div id="volumes">
  <% @volumes.each do |volume| %>
    <%= render volume %>
    <p>
      <%= link_to volume.name, volume %>
    </p>
  <% end %>
</div>

<%= link_to "New volume", new_volume_path %>
