<% content_for :title, "Isilon assets" %>

<h1>Isilon assets</h1>

<div id="isilon_assets">
  <% @isilon_assets.each do |isilon_asset| %>
    <%= render isilon_asset %>
    <p>
      <%= link_to "Show this isilon asset", isilon_asset %>
    </p>
  <% end %>
</div>
