@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons"; //needed for wunderbaum ui

div.wunderbaum div.wb-node-list {
  font-size: 16px !important;    
}

.volume-name {
  font-size: 24px;
}

a {
  color: #0B5394;
  text-decoration: none;
}