<p style="color: green"><%= notice %></p>

<% content_for :title, "Isilon folders" %>

<h1>Isilon folders</h1>

<div id="isilon_folders">
  <% @isilon_folders.each do |isilon_folder| %>
    <%= render isilon_folder %>
    <p>
      <%= link_to "Show this isilon folder", isilon_folder %>
    </p>
  <% end %>
</div>

<%= link_to "New isilon folder", new_isilon_folder_path %>
