<% content_for :title, "New isilon folder" %>

<h1>New isilon folder</h1>

<%= render "form", isilon_folder: @isilon_folder %>

<br>

<div>
  <%= link_to "Back to isilon folders", isilon_folders_path %>
</div>
